<h1>Break the Code</h1>

<p>Secret code: <%= @game.secret_code %> (for debugging, should be hidden)</p>

<h2>Your Guesses</h2>
<ol>
  <% @game.guesses.each do |guess| %>
    <li><%= guess.code %> - <%= guess.feedback %></li>
  <% end %>
</ol>

<%= form_with model: [@game, @guess], local: true do |form| %>
    <div>
        <%= form.label :code, "Your Guess" %>
        <%= 
        form.text_field :code, pattern: "[0-9]+",
         title: "Please enter numbers only",
          oninput: "checkDuplicate(this)",
           required: true, minlength: 4, maxlength: 4,
            disabled: @game.over? || @game.won?
           %>
        <script>
            function checkDuplicate(input) {
                var code = input.value;
                var numbers = code.split("");
                var uniqueNumbers = [...new Set(numbers)];
                input.setCustomValidity(uniqueNumbers.length === numbers.length ? "" : "Duplicate numbers are not allowed.");
            }
        </script>
    </div>
    <%= form.submit "Submit Guess", disabled: @game.over? || @game.won? %>
<% end %>
